<html lang="en">
<head>

	<meta charset="UTF-8" />
  	<meta name="google" content="notranslate">
  	<meta http-equiv="Content-Language" content="en" />

	<title>ePerF Analyzer</title>
	
	<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='css/style.css')}}" />
	<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='js/colorpicker/jquery.miniColors.css')}}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	
</head>
<body>

<div id="overlay" class="overlay">
	<div id="overlay_content" class="section_title">Loading data ... please be patient</div>
</div>

<div id="circle">
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
   		<circle id="circle_circle" cx="35" cy="35" r="30" stroke-width="2.5" fill="none" />
   		<text id="circle_text" x="70" y="35" alignment-baseline="middle"></text>
	</svg>
</div>

<div id="db_selector">

	<div id="db_entries">
	<div class="section_title">Select the DB you want to work with...</div>
	{% for db in dbs %}
		<div class="db_entry selectable">{{ db }}</div>
	{% endfor %}
	</div>
</div>

<div id="experiments_title" class="section_title">Experiments</div>
<div id="experiments" class="section"></div>

<div class="clear"></div>
<div id="data_title" class="section_title">Data</div>
<div id="data_content">
	<div id="statistics">&nbsp;</div>
</div>

<div class="clear"></div>
<div id="footer" class="footer">
	<label><input type="checkbox" id="show_hints" checked="checked">Show hints</label>
    <!--
	<div style="width: 40%;" class="footer section info">Zoom left side</div>
	<div style="width: 5%;"  class="footer section">&nbsp;</div>
	<div style="width: 10%;" class="footer section info">Pan</div>
	<div style="width: 5%;"  class="footer section">&nbsp;</div>
	<div style="width: 40%;" class="footer section info">Zoom right side</div>
	<div class="clear"></div>
	-->
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/colorpicker/jquery.miniColors.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/d3.v2.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/functions.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/eyecandy.js') }}"></script>

</body>
</html>